# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# Logs
*.log

# IDE IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
dist/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp-r --